$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$beige: rgb(255, 240, 210);
$darkgreen: rgb(22, 33, 20);
$purple: rgb(93, 61, 213);
$blue: #537ab1;
$blue2: #c2d4e6;
$grey: rgb(232, 232, 232);
$grey-blue: rgb(211, 217, 245);
$light-blue: rgb(149, 232, 236);
$dark-blue: rgb(31, 57, 89);
$yellow: rgb(255, 221, 51);

// --------- FONTS

$ink-free: "Ink Free", Courier, monospace;
$kabel-black: "Kabel-Black", Courier, monospace;
