$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$beige: rgb(255, 240, 210);
$darkgreen: rgb(22, 33, 20);

// --------- FONTS

$ink-free: "Ink Free", Courier, monospace;
$kabel-black: "Kabel-Black", Courier, monospace;
