.or-login-with {
  margin-top: 15px;
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
}

.or-login-with__line {
  position: absolute;
  top: 50%;
  border-top: 0.5px solid black;
  width: 100%;
}

.or-login-with__text {
  z-index: 2;
  padding: 0 5px;
  background-color: white;
}

.google-option {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background: url("../../assets/icons/gmail-logo.png") no-repeat left center;
  background-size: 20px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #f4f4f4;
  }
}
