.profile {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  background: $dark-blue;
  // font-family: $ink-free;
}

.profile__nav {
  position: relative;
  text-align: center;
  padding: 18px;
  background-color: $white;
  margin-bottom: 20px;
}

.nav__back {
  position: absolute;
  top: 22px;
  left: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    width: 25px;
    transition: transform 0.2s ease;
  }

  &:hover img {
    transform: translateX(-5px);
  }
}

.nav__my-profile {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: $dark-blue;
}

.profile__picture-container {
  display: flex;
  align-items: center;
  position: relative;
  border: 2px solid $white;
  border-radius: 50%;
  width: fit-content;
  // text-align: center;
  margin: 0 auto;
  margin-bottom: -55px;
  z-index: 2;
  background-color: $white;
  padding: 5px;

  &:hover:not(:has(.picture-container__upload:hover)) {
    .picture-container__picture {
      border-color: $black;
    }
    .picture-container__upload {
      // display: block;
    }
  }
}

.picture-container__picture {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid $white;
  border-radius: 50%;
}

.picture-container__upload {
  // display: none;
  position: absolute;
  bottom: 0;
  right: 0px;
  // left: 0;
  background-color: $white;
  border-radius: 50%;
  // border: none;

  &:hover {
    background-color: lightgrey;
  }
}

.upload__img {
  width: 25px;
  cursor: pointer;
}

.profile__info-container {
  background-color: $white;
  border-radius: 40px;
  padding: 80px 60px 60px;
  margin: 0 20px 30px;
  box-shadow: 0 4px 12px rgba($black, 0.2);
  text-align: center;

  h1 {
    margin-bottom: 15px;
    font-family: $kabel-black;
    color: $dark-blue;
  }

  h3 {
    margin: 5px 0;
    color: $darkgreen;
  }
}

.profile__info {
  background-color: $white;
  border-radius: 20px;
  padding: 30px 40px;
  max-width: 400px;
  margin: 0 auto 20px;
  box-shadow: 0 4px 15px rgba($black, 0.15);
  text-align: center;

  .info-item {
    margin-bottom: 10px;
    font-size: 1rem;
    color: $darkgreen;
    display: flex;
    justify-content: space-between;

    .info-item__label {
      font-weight: bold;
      color: $blue;
      margin-right: 6px;
    }

    .info-item__value {
      font-weight: normal;
      color: $black;
      word-break: break-all;
      font-family: $kabel-black;
    }
  }
}

.profile__car-container {
  .car-container__select-a-car {
    margin-bottom: 10px;
    font-weight: bold;
    color: $blue;
  }
}

.profile__car {
  width: 100px;
  margin: 10px 0;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba($black, 0.15);
}

.car-select-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  background-color: white;
  border-radius: 20px;
  padding: 40px 0 20px 0;
  margin-top: 30px;
  row-gap: 25px;
}

.car-select-item {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease;

  img {
    // width: 70px;
    border-radius: 6px;
    // box-shadow: 0 2px 6px rgba($black, 0.1);
  }

  &:hover:not(.car-select-item--selected) {
    // border: 2px dashed red;
    transform: scale(1.2);
  }
}

.car-select-item--selected {
  // border: 2px solid $dark-blue;
  transform: translateY(-20px) scale(1.2);

  transition: transform 0.2s ease, border 0.2s ease;
}

button {
  cursor: pointer;
}

.btn-primary {
  padding: 8px 16px;
  background: $blue;
  color: $white;
  border: none;
  border-radius: 8px;
  transition: background 0.2s;

  &:hover {
    background: darken($blue, 10%);
  }

  &--open {
    background-color: #dc3545; // red for "open" state
    &:hover {
      background-color: darken(#dc3545, 10%);
    }
  }
}

.btn-confirm {
  padding: 8px 16px;
  background: $light-green;
  color: $darkgreen;
  border: none;
  border-radius: 8px;
  font-weight: bold;

  &:hover {
    background: darken($light-green, 8%);
  }
}

.btn-danger {
  padding: 6px 14px;
  background: $purple;
  color: $white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;

  &:hover {
    background: darken($purple, 10%);
  }
}
