.profile {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

// .profile__nav {
//   position: relative;
//   display: flex;
//   justify-content: flex-end;
//   background-color: $dark-blue;
//   // background-color: #3b82f6;
//   padding: 10px;
//   margin-bottom: 20px;
// }

.nav__back {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    width: 25px;
    transition: transform 0.2s ease;
  }

  &:hover img {
    transform: translateX(-5px);
  }
}

.profile__logout {
  position: absolute;
  top: 10px;
  right: 10px;
}

.profile__picture-row {
  padding-top: 10px;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: center;
}

.profile__picture-container {
  display: flex;
  align-items: center;
  position: relative;
  border: 2px solid $white;
  border-radius: 50%;
  width: fit-content;
  margin-bottom: 10px;
  z-index: 2;
  background-color: $white;

  &:hover:not(:has(.picture-container__upload:hover)) {
    .picture-container__picture {
      border-color: $black;
    }
    .picture-container__upload {
    }
  }
}

.picture-container__picture {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid $white;
  border-radius: 50%;
}

.picture-container__upload {
  position: absolute;
  bottom: 0;
  right: 0px;
  background-color: $white;
  border-radius: 50%;

  &:hover {
    background-color: lightgrey;
  }
}

.upload__img {
  width: 25px;
  cursor: pointer;
}

.profile__info-and-notifications {
  display: flex;
  justify-content: space-evenly;
}

.profile__info-container {
  padding: 0 20px;
  text-align: center;
  flex-grow: 1;
  background-color: white;
}

.profile__info {
  background-color: $white;
  border-radius: 20px;
  max-width: 400px;
  padding-top: 30px;
  text-align: center;
  min-width: 250px;
}

.info-items {
  padding: 20px;
  padding-top: 0;
}

.info-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 10px;
  font-size: 1rem;
  color: $darkgreen;
}

.info-item--car {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100px;
}

.info-item__label {
  font-weight: bold;
  color: $blue;
  margin-right: 6px;

  &--error {
    color: red;
  }
}

.info-item__label--car {
  margin-right: 20px;
}

.info-item__edit-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.license-plate-input {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 4px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.info-item__value {
  display: flex;
  font-weight: normal;
  color: $black;
  word-break: break-all;
  font-family: $kabel-black;
  margin-bottom: -3px;
  margin-left: 20px;
  margin-top: 5px;
}

.info-item__value-text {
  margin: 0;
}

.info-item__value-edit {
  margin-left: 8px;
  cursor: pointer;
}

.info-item__value-edit-img {
  width: 16px;
}

.info-item__value--id {
  font-size: 12px;
}

.car-plate-error {
  position: absolute;
  bottom: -19px;
  margin-left: 21px;
  color: red;
  font-size: 12px;
}

.no-plate-added {
  color: #aaa;
}

.profile__car {
  width: 60px;
  transform: rotate(-90deg);
  margin-left: 40px;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba($black, 0.15);
}

.profile__trash {
  width: 25px;
  z-index: 4;
  cursor: pointer;
  margin-left: 30px;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.car-selection-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-select-list {
  display: grid;
  grid-template-columns: repeat(10, 60px);
  // justify-content: center;
  // flex-wrap: wrap;
  // align-items: stretch;
  background-color: white;
  border-radius: 20px;
  padding: 0;
  row-gap: 25px;
  column-gap: 10px;
  margin: 0;
}

.car-select-item {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease;

  img {
    border-radius: 6px;
  }

  &:hover:not(.car-select-item--selected) {
    transform: scale(1.2);
  }
}

.car-select-item--selected {
  transform: translateY(-20px) scale(1.2);

  transition: transform 0.2s ease, border 0.2s ease;
}

button {
  cursor: pointer;
}

.btn-primary {
  padding: 8px 16px;
  background: $blue;
  color: $white;
  border: none;
  border-radius: 8px;
  transition: background 0.2s;

  &:hover {
    background: darken($blue, 10%);
  }

  &--open {
    background-color: #dc3545;
    &:hover {
      background-color: darken(#dc3545, 10%);
    }
  }
}

.profile__car-selection-btn {
  font-size: 12px;
}

.btn-confirm {
  padding: 8px 16px;
  background: $light-green;
  color: $darkgreen;
  border: none;
  border-radius: 8px;
  font-weight: bold;

  &:hover {
    background: darken($light-green, 8%);
  }
}

.btn-danger {
  padding: 6px 14px;
  background: $purple;
  color: $white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;

  &:hover {
    background: darken($purple, 10%);
  }
}
