.events {
  padding: 1rem;
  background: $grey-blue;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba($black, 0.15);
}

.events__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.events__content {
  display: flex;
  justify-content: space-between;
}

.event-cards-and-map {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .event-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: max-height 0.3s ease;
  }

  &:has(.map-container) {
    .event-cards {
      max-height: 410px;
      overflow-y: auto;
      scrollbar-width: thin;
      scrollbar-color: rgba(31, 57, 89, 0.4) transparent;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(31, 57, 89, 0.4);
        border-radius: 10px;
        border: 2px solid transparent;
        background-clip: content-box;
        transition: background-color 0.2s ease;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(31, 57, 89, 0.7);
      }
    }
  }
}

.event-card {
  flex-grow: 1;
  width: 50%;
  min-width: 300px;
  display: flex;
  background: $white;
  border-radius: 10px;
  padding: 0.75rem 1rem;
  // margin-bottom: 0.75rem;
  box-shadow: 0 2px 6px rgba($black, 0.1);
  border-left: 10px solid transparent;
}

.events__title,
.create-event__title {
  margin: 0 0 1rem;
  font-family: $kabel-black;
  color: $dark-blue;
}

.event-card h4 {
  margin: 0 0 0.25rem;
  font-size: 1rem;
  color: $dark-blue;
}

.event-card p {
  margin: 0 0 0.25rem;
  font-size: 0.9rem;
  color: $black;
}

.event-card small {
  font-size: 0.75rem;
  color: $darkgreen;
}

.event-card__info {
  min-width: 50%;
}

.event-card__invitees {
  flex-grow: 1;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  // gap: 5px;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(31, 57, 89, 0.4);
    border: 2px solid transparent;
    transition: background-color 0.2s ease;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(31, 57, 89, 0.7);
  }
}

.event-card__invitee {
  height: fit-content;
  width: 120px;
  // border: 1px solid black;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px;
  // overflow: hidden;
  cursor: pointer;

  img {
    transition: transform 0.2s ease;
  }

  &:hover img {
    transform: scale(1.2);
  }
}

.events-list__create-event {
  height: 30px;
  width: 30px;
  transition: transform 0.2s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
}

.event--gathering {
  border-left-color: $purple;
}
.event--meeting {
  border-left-color: pink;
}
.event--announcement {
  border-left-color: rgb(255, 157, 0);
}
.event--maintenance {
  border-left-color: rgb(151, 101, 1);
}
.event--warning {
  border-left-color: rgb(219, 74, 74);
}
.event--reminder {
  border-left-color: rgb(96, 96, 140);
}

.create-event {
  min-width: 350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 250px;
  background-color: $white;
  border-radius: 12px;
  padding: 20px;

  box-shadow: 0 2px 8px rgba($black, 0.15);
}

.create-event__field-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 10px 0;

  &--comment {
    flex-direction: column;
    align-items: start;

    textarea {
      width: 100%;
    }
  }

  input,
  textarea,
  select {
    flex-grow: 1;
    display: flex;
    align-items: center;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
  }

  select {
    flex-grow: 1;
    border: none;
    border-bottom: 1px solid grey;
    appearance: none;

    cursor: pointer;
    transition: border 0.2s ease, box-shadow 0.2s ease;
  }
}

.field-container__label-row {
  width: 40%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.create-event__optional {
  font-size: 12px;
  color: #888888;
  font-style: italic;
}

.location-field-row {
  display: flex;
  gap: 10px;
}

.location-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-top: 15px;
}

.invite-section {
  margin-top: 6px;
  width: 100%;
}

.invite-section__title {
  text-align: center;
  margin-top: 0;
  font-size: 15px;
}

.invite-people__invite-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.invite-options__button {
  padding: 6px 10px;
  background: $grey;
  color: $darkgreen;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    filter: brightness(1.05);
    transform: translateY(-3px);
  }
  &--team {
    background-color: rgba(lightblue, 1);
  }

  &--company {
    background-color: $gold;
  }

  &--clear {
    background-color: rgba(red, 0.4);
  }

  &.is-selected {
    filter: brightness(1.05);
    transform: translateY(-5px);
    background-color: orange;
  }
}

.invited-people__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.invited-people__list-item {
  width: 48%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: transparent;
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: rgba(#4caf50, 0.2);
  }

  input[type="checkbox"] {
    accent-color: #4caf50;
    cursor: pointer;
  }

  &:has(input[type="checkbox"]:checked) {
    border-color: #4caf50;
    background-color: #eafbea;

    &:hover {
      background-color: #dff7df;
    }
  }

  img.invite-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }

  .invite-name {
    font-weight: 500;
    color: #333;
  }
}

.invited-people__list-item--me {
  &:hover {
    background-color: rgba(red, 0.2);
    cursor: not-allowed;
    input {
      cursor: not-allowed;
    }
  }
}

.invite-avatar {
  width: 28px;
  height: 28px;
  border-radius: 14px;
  object-fit: cover;
}

.invite-name {
  font-size: 13px;
}

.error-text {
  color: crimson;
  margin-top: 8px;
}

.popup-actions {
  width: 100%;
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;

  button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba($light-green, 0.9);
  }
}

.btn-confirm {
  padding: 0.45rem 0.9rem;
  background: $light-green;
  color: $darkgreen;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background: darken($light-green, 8%);
  }
}

.map-container {
  flex-grow: 1;
  height: 500px;
  max-width: 900px;
  margin-right: 20px;
  border: 3px solid $grey-blue;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba($black, 0.25);
  overflow: hidden;
  position: relative;
}

.map {
  width: 100%;
  height: 100%;
  position: relative;
}

.marker {
  background-color: $purple;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid $white;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-sizing: border-box;

  &.active {
    transform: scale(1.8);
    background-color: $yellow;
  }

  &.marker-temp {
    background-color: $light-green;
    width: 18px;
    height: 18px;
  }

  &.marker-pending {
    background-color: $blue;
    width: 18px;
    height: 18px;
  }
}

.marker--gathering {
  background-color: $purple;
}
.marker--meeting {
  background-color: pink;
}
.marker--announcement {
  background-color: rgb(255, 157, 0);
}
.marker--maintenance {
  background-color: rgb(151, 101, 1);
}
.marker--warning {
  background-color: rgb(219, 74, 74);
}
.marker--reminder {
  background-color: rgb(96, 96, 140);
}

.popup-content {
  color: $darkgreen;
  padding: 0.5rem;
}

.btn-remove {
  padding: 4px 8px;
  background: $purple;
  color: $white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;

  &:hover {
    background: darken($purple, 8%);
  }
}

.modal-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
}
