.welcome {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: $white;
  border-radius: 15px;
  box-shadow: rgba(31, 57, 89, 0.5) 0px 0px 20px 2px;
  margin-top: 10px;
  padding: 20px 30px;
  padding-right: 20px;
  cursor: pointer;
}

.welcome__card-side {
  position: absolute;
  background-color: $dark-blue;
  width: 15px;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px 0 0 20px;
}

.welcome__user-info {
}

.user-info__welcome-title {
  font-size: 35px;
  margin: 0;
  font-family: $kabel-black;
  font-weight: 900;
}

.user-info__info-item {
  margin: 15px 0;
}

.info-item__reservation-time {
  font-weight: 700;
  margin-left: 5px;
  color: $dark-blue;
}

.info-item__click-here {
  display: inline;
  margin-left: 5px;
  background-color: $dark-blue;
}

.welcome__user-card {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 15px;
  transition: transform 0.2s ease;

  background: #1f3959;
  background: linear-gradient(
    180deg,
    rgba(31, 57, 89, 0.72) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  &:hover {
    transform: scale(1.03);
  }
}

.user-card__picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.user-card__user-name {
  margin-top: 10px;
  margin-bottom: 0;
}
