.home {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home__header {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header__upper-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $dark-blue;
  padding: 10px 20px;
}

.header__title {
  font-size: 30px;
  font-weight: 400;
  color: $white;
  font-family: "Ink Free", Courier, monospace;
  cursor: pointer;

  &:hover {
    font-weight: 800;
  }
}

.header__user-name {
  font-family: $ink-free;
  font-size: 25px;
  color: $white;
  margin: 0 10px;
}

.header__profile-logo {
  position: relative;
  display: flex;
  align-items: center;
  text-align: right;
  border-radius: 50%;

  img {
    width: 50px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    z-index: 3;

    &:hover {
      background-color: wheat;
    }
  }

  .star {
    position: absolute;
    top: -12px;
    right: -17px;
    color: $gold;
    font-size: 26px;
    pointer-events: none;
    z-index: 4;
  }
}

.home__nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  margin: 0 30px;
  background-color: $grey;
}

.home__nav-item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: $white;
  cursor: pointer;

  &:hover:not(.home__nav-item--active) {
    background-color: lightgray;
  }
}

.home__nav-item--active {
  background-color: $dark-blue;
  color: $white;
}

.nav-item__icon {
  width: 20px;
}
