.home {
  height: 100%;
  width: 100%;
  padding: 60px 30px;
  display: flex;
  flex-direction: column;
}

.home__header {
  position: absolute;
  top: 0;
  left: 30px;
  right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 30px;
  color: $darkgreen;
  font-family: "Ink Free", Courier, monospace;
}

.header__profile-logo {
  position: relative;
  display: flex;
  align-items: center;
  text-align: right;

  img {
    width: 50px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;

    &:hover {
      background-color: wheat;
    }
  }
}

.home__nav {
  display: flex;
  justify-content: space-between;
}

.home__nav-item {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 20px;
  background-color: $white;
  cursor: pointer;

  &:hover:not(.home__nav-item--active) {
    background-color: lightgray;
  }
}

.home__nav-item--active {
  background-color: $darkgreen;
  color: $white;
}

.home__content {
  margin-top: 20px;
  border: 1px solid gray;
  padding: 20px;
  flex-grow: 1;
}
