.parking-slot-container {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
}

.parking-slot {
  border: 2px dashed rgba(128, 128, 128, 0.6);
  padding: 5px;
  height: 100px;
  min-width: 65px;
  // background-color: #6a4431;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;

  &:hover {
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0.5);
  }
}

.parking-slot__car {
  height: 100%;
  // width: 40px;
  // width: 100%;
}

@media (min-width: 992px) {
}
