.chat {
  position: relative;
  border-radius: 0 0 5px 5px;
  padding: 10px;
  padding-top: 20px;

  background-color: $white;
  border: 2px solid $dark-blue;
  border-top: none;
}

.chat--team,
.chat--company {
  padding-top: 40px;
  margin-top: -10px;
}

.messages {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  background-color: white;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 550px;

  * {
    overflow-anchor: none;
  }

  #anchor {
    background-color: blue;
    overflow-anchor: auto;
    height: 40px;
    width: 40px;
  }
}

.messages::-webkit-scrollbar {
  display: none;
}

.message-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.message-row__info {
  position: relative;
  color: $black;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.message-row__info .info__picture {
  position: absolute;
  top: 0px;
}

.info__picture {
  width: 30px;
  height: 30px;
  border-radius: 20%;
  object-fit: cover;
}

.info__name {
  font-weight: bold;
  margin: 0;
  margin-right: 10px;
}

.message {
  position: relative;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;

  &:hover .message__time {
    display: block;
  }
}

.message__time {
  display: none;
  position: absolute;
  top: 13px;
  color: rgba(128, 128, 128, 0.6);
  font-size: 12px;
  margin: 0;
}

.message-row--me {
  align-items: flex-end;

  .message-row__info {
    flex-direction: row-reverse;
  }

  .info__picture {
    right: -40px;
  }

  .info__name {
    margin-right: 0;
    margin-left: 10px;
  }

  .message {
    background-color: rgb(0, 0, 255);
  }

  .message__time {
    right: -40px;
  }

  .message--is-sending {
    margin-right: 20px;
    background-color: rgba(0, 255, 217, 0.8);
  }
}

.message-row--friend {
  align-items: flex-start;

  .message-row__info {
  }

  .info__picture {
    left: -40px;
  }

  .message {
    background-color: rgb(128, 128, 128);
  }

  .message__time {
    left: -40px;
  }

  .message--is-sending {
    margin-left: 20px;
    background-color: rgba(128, 128, 128, 0.8);
  }
}

.message-row:last-of-type {
  margin-bottom: 10px;
}

.chat__footer {
  position: sticky;
  bottom: 0;
  left: 0;
  background-color: white;

  width: 100%;

  display: flex;
  gap: 5px;
}

.footer__message-input {
  flex-grow: 1;
}

.footer__send-button {
}

.chatroom__no-friend {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark-blue;
  font-size: 18px;
  font-weight: bold;
  height: 580px;
  border: 2px dashed rgba($color: $dark-blue, $alpha: 0.2);
  border-radius: 0 0 15px 15px;
  border-top: none;
  background-color: rgba($grey, 0.8);

  p {
    color: rgba($color: $dark-blue, $alpha: 0.2);
  }
}
