.chatroom {
  // display: flex;
  // flex-direction: column;
}

.chatroom__friends-title {
  text-align: center;
  margin: 0;
  color: $white;
  background-color: $dark-blue;
  border-radius: 15px 15px 0 0;
}

.chatroom__friends {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  padding: 10px;
  background-color: $dark-blue;

  list-style-type: none;
  margin: 0;
}

.friends__friend {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-grow: 1;
  border-radius: 5px;
  background-color: $white;

  padding: 5px 10px;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.friends__friend--active {
  background-color: white;

  box-shadow: $yellow 0px 0px 5px 2px;
}

.friend__name {
  margin: 0;
}

.friend__status {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.friend__status--online {
  background-color: $light-green;
}

.friend__status--offline {
  background-color: $grey;
}
